@charset "UTF-8";
	/* 부메뉴 */
	div.panel{
		background-color: #1245AB;
		border-radius: 10px;
		overflow: hidden;
	}
	h3.panel-title p{
		margin: 0;
		padding: 1em 0;
		font-size: 1.5em;
		/*font-weight: 700;*/
		color: white;
	}
	ul.list-group li{
		padding: 0;
	}
	ul.list-group li:hover ,ul.list-group li:hover a{
		/*background-color: #4375DB;*/
		background: linear-gradient(110deg, #53a2e0 10%,#3f6fd1 80%);
		color: white;
	}
	ul.list-group li a{
		font-size: 1.1em;
		font-weight: 700;
		color: #4C4C4C;
		text-decoration: none;
		display: block;
		padding: 1em 1.5em;
	}
	/* ----------------------------------- */